html, body {
  height: 100%;
  overflow: hidden;
  background: black;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  image-rendering: pixelated;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  user-select: none;
}

canvas {
  width: 100%;
  height: 100%;
}

#debug {
  display: none;
  position: absolute;
  inset: 8px 12px;
  pointer-events: none;
  color: white;
  text-shadow: 0 1px #0004;
  font-family: Menlo, monospace;
  font-size: 12px;
  line-height: 1.8;
}
#debug.show {
  display: block;
}

#hud {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

ui-div {
  --border-size: 8px;

  position: absolute;

  border: var(--border-size) solid transparent;

  border-image-source: url("./assets/ui/gray.png");
  border-image-slice: 1 fill;
  border-image-width: var(--border-size);
  border-image-repeat: stretch;
}

#hotbar {
  bottom: 10px;
  left: 100px;
  right: 100px;
  height: 50px;
}
